<a class="txt" style="font-size: 70px">@Model.Question</a>

@* vier knoppen *@
<div style="margin-top: 7%;">
    <button onclick="NextQuestion(0);" id="input" class="click" style="margin: 30px; height: 50px"><h4 class="txt"> Option one </h4></button>
    <button onclick="NextQuestion(0.25);" id="input"class="click" style="margin: 30px; height: 50px"><h4 class="txt"> Option two </h4></button>
    <br />
    <button onclick="NextQuestion(0.5);" id="input" class="click" style="margin: 30px; height: 50px"><h4 class="txt"> Option three </h4></button>
    <button onclick="NextQuestion(1);" id="input" class="click" style="margin: 30px; height: 50px"><h4 class="txt"> Option four </h4></button>
</div>