<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8" />
        <title>Playlist Generator - @ViewBag.Title</title>
        <link id="favicon" rel="icon" href="https://cdn.glitch.com/project-avatar/b96c147f-8065-40a6-9908-4fcafce2a361.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body style="background-color: #2C2F33; margin: 0px">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <img id="backimg" src="" class="backgroundimg" />

        @if (ViewBag.Title != "Home")
        {
            <div style="width: 500px;top: 0px;left: 0px;height: 500px;background-color: #9e9e9e;position: fixed;transform: rotate(45deg) translate(-355px) scale(0.75);">
                <a href="/home">
                    <img title="Home" class="slogo" src="~/Spotify_logo_without_text.svg" alt="Spotify Logo" />
                </a>
            </div>
        }
        else
        {
            <div style="text-align:center;margin:15%">
                <a class="txt" style="font-size:100px"> Playlist Generator</a>
            </div>           
        }

        @* waar de view in komt te staan *@
        <div class="center">
            @RenderBody()
        </div>
    </body>
</html>