<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8" />
        <title>Playlist Generator @ViewBag.Title</title>
        <link id="favicon" rel="icon" href="https://cdn.glitch.com/project-avatar/b96c147f-8065-40a6-9908-4fcafce2a361.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </head>
    <body style="background-color: #2C2F33; margin: 0px">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <img id="backimg" src="" class="backgroundimg" />
        <div class="center">
            @RenderBody()
        </div>
    </body>
</html>