@using SpotifyGenerator.Domain.DataTransferObjects
@model List<ArtistDTO>

@if (Model.Count == 0)
{
    <h2 id="ErrorMessage" style="font-weight: bold; color:#d61102; margin: 2px;vertical-align: middle;" class="txt"> No artist Selected </h2>
}

@foreach (var artist in @Model)
{
    <div style="width:400px;height:60px;border-bottom: 2px solid #2c2f33">
        <div style="background: #f1f3f4;position: absolute;height: 60px;width: inherit;">
            <a target="_blank" href="https://open.spotify.com/artist/@artist.id" class="songtxt" style=" position: relative;float: left;margin: 2px;text-decoration: none">@artist.name</a>
        </div>
        <button style="cursor:pointer;float: right;height: 60px;width: 60px;position: relative;background:rgb(246, 75, 60);border: none;outline:none" onclick="RemoveArtistFromList('@artist.id')" title=" remove @artist.name from list">
            <p class="deletetxt" style="height: 60px;line-height: 1.5;font-size:40px;position: relative;"> ✖ </p>
        </button>
    </div>
}
