@using SpotifyGenerator.Domain.DataTransferObjects;
@model IEnumerable<DbPlaylistDTO>

@{
    ViewData["Title"] = "Home";
}

<form asp-controller="Question" asp-action="Index" method="POST">
    <button class="click" style="height: 60px;"><h1 class="txt"> Start </h1></button>
</form>

<div style="width:100%; text-align:center; margin-top:6%">
    <table style="border-collapse: separate; border-spacing: 3px 20px; text-align: center; margin: auto">
        @foreach (var playlist in Model.ToList())
        {
            await Html.RenderPartialAsync("TableRow", playlist);
        }
    </table>
</div>   

