@model SpotifyGen.Domain.PlaylistDTO;

@{
    ViewData["Title"] = "Playlist";
}

@* laat alle liedjes in de playlist zien *@
@foreach (var track in Model.tracks)
{
    await Html.RenderPartialAsync("TrackBox", track);
}

<form asp-controller="Playlist" asp-action="PostPlaylist" method="POST">
    <button class="click"><h4 class="txt"> Put playlist on account </h4></button>
</form>

@* verwijdert een lied uit de playlist aan de hand van de id *@
<script>
    function RemoveTrack(id){
        $.ajax({
            url: "@Url.Action("RemoveTrack", "Playlist")",
            data: { "trackid": id },
            success: function() {
                var element = document.getElementById(id);
                element.parentNode.removeChild(element);
            },
            error: function () {
                alert("Error: cannot remove song from playlist");
            }
        });
    }
</script>

@* verandert de achtergrond van de pagina naar de cover van het liedje *@
<script>
    function ChangeBackground(url) {
        document.getElementById('backimg').src = url;
    };
</script>